@use './colors';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	scroll-behavior: smooth;
}
.main {
	overflow: hidden;
}
.heading-text {
	margin-top: 2.5em;
	margin-bottom: 0.5em;
	width: 100%;
	font-size: 4rem;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}
.box-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.527);
}
.active {
	font-weight: 700;
}
// NAV OPEN
.burger__btn {
	position: absolute;
	display: none;
	right: 0;
	top: 0;
	padding: 30px 30px;
	background: none;
	border: none;
	color: white;
	font-size: 5em;
	z-index: 3000;
	transition: color 0.5s;
	cursor: pointer;
	&:hover {
		color: colors.$main-color;
	}
}
.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 10rem;
	background-color: rgb(255, 255, 255);
	z-index: 1000;
	.wrapper {
		display: flex;
		align-items: center;
	}
	&__mobile-nav {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		width: 100%;
		height: 100vh;
		background-color: white;
		z-index: 2000;
		.nav__items--mobile {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: absolute;
			font-size: 20px;
			a {
				padding: 40px 30px 40px 30px;
				text-decoration: none;
				color: colors.$black-color;
				border-bottom: 1px solid black;
			}
			a:hover {
				background-color: colors.$black-color;
				color: white;
			}
		}
	}
}
.active-mobile-menu {
	display: flex;
}
.non-active-mobile-menu {
	display: none;
}
.burger-btn-dark-mode {
	color: black;
}
.wrapper {
	position: relative;
	width: 100%;
	height: auto;
	max-width: 1200px;
	font-size: 2.4rem;
}
.nav__heading-text {
	position: absolute;
	left: 0;
	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 4.2rem;
		font-weight: 400;
	}
	i {
		margin-left: 10px;
		margin-right: 10px;
		color: rgb(70, 62, 62);
	}
}
.nav__items {
	position: absolute;
	right: 0;
	font-size: 20px;
	a {
		text-decoration: none;
		padding: 40px 30px 40px 30px;
		color: colors.$black-color;
	}
	a:hover {
		background-color: colors.$black-color;
		color: white;
	}
}
// NAV CLOSE

// HEADER OPEN
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__box {
		z-index: 1;
		color: white;
		text-align: left;
		p {
			font-size: 3rem;
		}
		h1 {
			font-size: 4rem;
		}
	}
}
.main-header {
	background-image: url('../img/jungle-1807476_1920.jpg');
}
.offers-header {
	background-image: url('../img/california-4053982_1920.jpg');
}
.contact-header {
	background-image: url('../img/contact-us-2993000_1920.jpg');
	background-position: top;
}
// HEADER CLOSE

// ABOUT-US OPEN
.about-us {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 4rem;
	&__card {
		display: flex;
		justify-content: center;
		align-items: top;
		width: 100%;
		margin-top: 5rem;
		&__image-box {
			width: 50%;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		&__info {
			width: 50%;
			margin-left: 5%;
			h3 {
				margin-bottom: 20px;
			}
			p {
				font-size: 1.8rem;
				line-height: 200%;
			}
		}
	}
}
// ABOUT-US CLOSE

// ADVENTURE OPEN
.adventure {
	position: relative;
	display: flex;
	justify-content: center;
	height: 40vh;
	background-image: url('/img/girl-5785590_1920.jpg');
	background-position: center;
	background-size: cover;
	align-items: center;
	.adventure__text-info {
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			align-items: center;
			padding: 5rem 16rem;
			border: 1px solid colors.$white-color;
			color: colors.$white-color;
			font-size: 5rem;
			cursor: pointer;
		}
	}
}
// ADVENTURE OPEN

// OFFER OPEN
.offer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 4rem;

	&__text-info {
		width: 100%;
		text-align: center;
		font-size: 1.8rem;
		margin-top: 2rem;
	}
	&__cards {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 2em;
	}
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2.2em 2.8em;
		margin-bottom: 2rem;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.082);
		border-radius: 8px;
		transition: 0.3s;

		&:hover {
			transform: scale(1.05);
			box-shadow: 0 0 8px px rgba(0, 0, 0, 0.82);
		}
		&:hover &--price {
			color: rgb(3, 250, 3);
		}
		ul {
			list-style: none;
		}
		&--price {
			margin-top: 1rem;
			font-size: 4rem;
			font-weight: 700;
			transition: color 0.6s;
			span {
				font-size: 5rem;
			}
		}
		&--options {
			margin-top: 1.4rem;
			li {
				padding: 0.6rem;
				font-size: 1.8rem;
				.fa-check {
					color: rgb(3, 250, 3);
					margin-right: 6px;
				}
				.fa-minus {
					color: gray;
					margin-right: 6px;
				}
			}
			.offer-__card_not--included {
				color: gray;
			}
		}
		&--btn {
			margin-top: 2rem;
			padding: 12px 70px;
			border-radius: 8px;
			border: none;
			box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.274);
			font-size: 1.8rem;
			cursor: pointer;
			background: none;
			transition: 0.3s;
			&:hover {
				background-color: rgb(64, 255, 47);
				box-shadow: -1px 14px 14px 0px rgba(133, 206, 96, 1);
				transform: scale(1.1);
			}
		}
	}
	.offer__go-for-more-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 40px;
		a {
			padding: 4rem;
			border-radius: 8px;
			text-decoration: none;
			color: colors.$black-color;
			background-color: white;
			box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.274);
			transition: 0.3s;

			&:hover {
				color: white;
				background-color: rgb(64, 255, 47);
				box-shadow: -1px 14px 14px 0px rgba(133, 206, 96, 1);
				transform: scale(1.1);
			}
		}
	}

	.contact-form {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 3rem;

		iframe {
			width: 50%;
		}
		form {
			display: flex;
			flex-direction: column;
			align-self: center;
			justify-content: center;
			width: 50%;
			padding: 20px;
			padding-bottom: 100px;

			label {
				padding: 10px;
				text-align: center;
			}
			input {
				padding: 10px;
				border-radius: 4px;
				background-color: rgb(243, 242, 242);
				border: none;
			}
			textarea {
				max-width: 100%;
				min-width: 100%;
				border-radius: 8px;
				padding: 10px;
			}
			button {
				padding: 10px;
				margin-top: 10px;
				background-color: rgb(130, 219, 122);
				border: none;
				border-radius: 4px;
				font-size: 2rem;
				cursor: pointer;
				color: gray;
				&:hover {
					background-color: rgb(47, 182, 35);
					color: white;
				}
			}
		}
	}
}
// OFFER OPEN

// FOOTER OPEN
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: rgb(235, 233, 233);
	font-size: 2rem;
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 34vh;
	}
	&__logo {
		display: flex;
		width: 48%;
		font-size: 5rem;
		i {
			margin-right: 20px;
		}
		a {
			text-decoration: none;
			color: colors.$black-color;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 6rem;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: start;
		width: 48%;
		&--column {
			display: flex;
			flex-direction: column;
			padding: 30px 0;
			p,
			a {
				padding: 1rem;
			}
			&--heading {
				font-size: 2.4rem;
				font-weight: bold;
			}
		}
		a {
			text-decoration: none;
			color: colors.$black-color;
			font-size: 1.6rem;
		}
	}
	.footer__bottom-text {
		width: 100%;
		padding: 30px 0;
		text-align: center;
		font-size: 1.4rem;
		border-top: 1px solid gray;
	}
}
// FOOTER OPEN

.round {
	border-radius: 50%;
	animation: spin 5s infinite ease-in-out;
}

/* Animation for all items */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// MEDIA OPEN
@media (max-width: 576px) {
	.wrapper {
		max-width: 90%;
	}
	.burger__btn {
		display: flex;
	}
	.offer__cards {
		display: flex;
		flex-direction: column;
	}
	.about-us__card {
		flex-direction: column;
	}
	.about-us__card__image-box,
	.about-us__card__info {
		width: 100%;
		margin-left: 0;
	}
	.about-us__card__info h3 {
		text-align: center;
		margin-top: 2rem;
	}
	.footer__info {
		flex-direction: column;
	}
	.footer .wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 3rem;
	}
	.footer__info,
	.footer__info--column {
		align-items: center;
		justify-content: center;
	}
	.footer__logo {
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.offer .contact-form {
		flex-direction: column;

		iframe {
			width: 100%;
		}
		form {
			width: 100%;
		}
	}
}
@media (min-width: 576px) {
	.wrapper {
		max-width: 90%;
	}
	.nav {
		display: none;
	}
	.burger__btn {
		display: flex;
	}
	.offer__cards {
		display: flex;
		flex-direction: column;
	}
	.about-us__card {
		flex-direction: column;
	}
	.about-us__card__image-box,
	.about-us__card__info {
		width: 100%;
		margin-left: 0;
	}
	.about-us__card__info h3 {
		text-align: center;
		margin-top: 2rem;
	}
	.footer__info {
		flex-direction: column;
	}
	.footer .wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 3rem;
	}
	.footer__info,
	.footer__info--column {
		align-items: center;
		justify-content: center;
	}
	.footer__logo {
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.offer .contact-form {
		flex-direction: column;

		iframe {
			width: 100%;
		}
		form {
			width: 100%;
		}
	}
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
	.footer__info--column--heading {
		text-align: center;
	}
	.nav {
		display: none;
	}
	.burger__btn {
		display: flex;
	}
}
@media (min-width: 1240px) {
	.wrapper {
		max-width: 1200px;
	}
	.offer__cards {
		display: flex;
		flex-direction: row;
	}
	.about-us__card {
		flex-direction: row;
	}
	.footer__info {
		flex-direction: row;
	}
	.about-us__card__image-box,
	.about-us__card__info {
		width: 50%;
		margin-left: 5%;
	}
	.about-us__card__info h3 {
		text-align: left;
		margin-top: 0;
	}

	.footer .wrapper {
		flex-direction: row;
	}

	.footer__info {
		flex-direction: row;
	}
	.about-us__card__info h3 {
		text-align: center;
		margin-top: 0;
	}
	.footer .wrapper {
		flex-direction: row;
		align-items: center;
	}
	.footer__info {
		justify-content: space-between;
		align-items: start;
	}
	.footer__info--column {
		display: flex;
		flex-direction: column;
	}
	.footer__logo {
		width: 48%;
		justify-content: start;
		align-items: start;
	}
	.nav {
		display: flex;
	}
	.burger__btn {
		display: none;
	}
	.offer .contact-form {
		flex-direction: row;

		iframe {
			width: 50%;
		}
		form {
			width: 50%;
		}
	}
}
// MEDIA CLOSE
