*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

.main {
  overflow: hidden;
}

.heading-text {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.box-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
}

.active {
  font-weight: 700;
}

.burger__btn {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  padding: 30px 30px;
  background: none;
  border: none;
  color: white;
  font-size: 5em;
  z-index: 3000;
  transition: color 0.5s;
  cursor: pointer;
}
.burger__btn:hover {
  color: blue;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 10rem;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}
.nav .wrapper {
  display: flex;
  align-items: center;
}
.nav__mobile-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 2000;
}
.nav__mobile-nav .nav__items--mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  font-size: 20px;
}
.nav__mobile-nav .nav__items--mobile a {
  padding: 40px 30px 40px 30px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
.nav__mobile-nav .nav__items--mobile a:hover {
  background-color: black;
  color: white;
}

.active-mobile-menu {
  display: flex;
}

.non-active-mobile-menu {
  display: none;
}

.burger-btn-dark-mode {
  color: black;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  font-size: 2.4rem;
}

.nav__heading-text {
  position: absolute;
  left: 0;
}
.nav__heading-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.2rem;
  font-weight: 400;
}
.nav__heading-text i {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(70, 62, 62);
}

.nav__items {
  position: absolute;
  right: 0;
  font-size: 20px;
}
.nav__items a {
  text-decoration: none;
  padding: 40px 30px 40px 30px;
  color: black;
}
.nav__items a:hover {
  background-color: black;
  color: white;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__box {
  z-index: 1;
  color: white;
  text-align: left;
}
.header__box p {
  font-size: 3rem;
}
.header__box h1 {
  font-size: 4rem;
}

.main-header {
  background-image: url("../img/jungle-1807476_1920.jpg");
}

.offers-header {
  background-image: url("../img/california-4053982_1920.jpg");
}

.contact-header {
  background-image: url("../img/contact-us-2993000_1920.jpg");
  background-position: top;
}

.about-us {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}
.about-us__card {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  margin-top: 5rem;
}
.about-us__card__image-box {
  width: 50%;
  overflow: hidden;
}
.about-us__card__image-box img {
  width: 100%;
}
.about-us__card__info {
  width: 50%;
  margin-left: 5%;
}
.about-us__card__info h3 {
  margin-bottom: 20px;
}
.about-us__card__info p {
  font-size: 1.8rem;
  line-height: 200%;
}

.adventure {
  position: relative;
  display: flex;
  justify-content: center;
  height: 40vh;
  background-image: url("/img/girl-5785590_1920.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
}
.adventure .adventure__text-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adventure .adventure__text-info a {
  align-items: center;
  padding: 5rem 16rem;
  border: 1px solid white;
  color: white;
  font-size: 5rem;
  cursor: pointer;
}

.offer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}
.offer__text-info {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 2rem;
}
.offer__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}
.offer__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.2em 2.8em;
  margin-bottom: 2rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.082);
  border-radius: 8px;
  transition: 0.3s;
}
.offer__card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px px rgba(0, 0, 0, 0.82);
}
.offer__card:hover .offer__card--price {
  color: rgb(3, 250, 3);
}
.offer__card ul {
  list-style: none;
}
.offer__card--price {
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 700;
  transition: color 0.6s;
}
.offer__card--price span {
  font-size: 5rem;
}
.offer__card--options {
  margin-top: 1.4rem;
}
.offer__card--options li {
  padding: 0.6rem;
  font-size: 1.8rem;
}
.offer__card--options li .fa-check {
  color: rgb(3, 250, 3);
  margin-right: 6px;
}
.offer__card--options li .fa-minus {
  color: gray;
  margin-right: 6px;
}
.offer__card--options .offer-__card_not--included {
  color: gray;
}
.offer__card--btn {
  margin-top: 2rem;
  padding: 12px 70px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.274);
  font-size: 1.8rem;
  cursor: pointer;
  background: none;
  transition: 0.3s;
}
.offer__card--btn:hover {
  background-color: rgb(64, 255, 47);
  box-shadow: -1px 14px 14px 0px rgb(133, 206, 96);
  transform: scale(1.1);
}
.offer .offer__go-for-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.offer .offer__go-for-more-button a {
  padding: 4rem;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.274);
  transition: 0.3s;
}
.offer .offer__go-for-more-button a:hover {
  color: white;
  background-color: rgb(64, 255, 47);
  box-shadow: -1px 14px 14px 0px rgb(133, 206, 96);
  transform: scale(1.1);
}
.offer .contact-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
.offer .contact-form iframe {
  width: 50%;
}
.offer .contact-form form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  padding-bottom: 100px;
}
.offer .contact-form form label {
  padding: 10px;
  text-align: center;
}
.offer .contact-form form input {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(243, 242, 242);
  border: none;
}
.offer .contact-form form textarea {
  max-width: 100%;
  min-width: 100%;
  border-radius: 8px;
  padding: 10px;
}
.offer .contact-form form button {
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(130, 219, 122);
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
  color: gray;
}
.offer .contact-form form button:hover {
  background-color: rgb(47, 182, 35);
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(235, 233, 233);
  font-size: 2rem;
}
.footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 34vh;
}
.footer__logo {
  display: flex;
  width: 48%;
  font-size: 5rem;
}
.footer__logo i {
  margin-right: 20px;
}
.footer__logo a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 6rem;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 48%;
}
.footer__info--column {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.footer__info--column p,
.footer__info--column a {
  padding: 1rem;
}
.footer__info--column--heading {
  font-size: 2.4rem;
  font-weight: bold;
}
.footer__info a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
.footer .footer__bottom-text {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-size: 1.4rem;
  border-top: 1px solid gray;
}

.round {
  border-radius: 50%;
  animation: spin 5s infinite ease-in-out;
}

/* Animation for all items */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 576px) {
  .wrapper {
    max-width: 90%;
  }
  .burger__btn {
    display: flex;
  }
  .offer__cards {
    display: flex;
    flex-direction: column;
  }
  .about-us__card {
    flex-direction: column;
  }
  .about-us__card__image-box,
  .about-us__card__info {
    width: 100%;
    margin-left: 0;
  }
  .about-us__card__info h3 {
    text-align: center;
    margin-top: 2rem;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
  }
  .footer__info,
  .footer__info--column {
    align-items: center;
    justify-content: center;
  }
  .footer__logo {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .offer .contact-form {
    flex-direction: column;
  }
  .offer .contact-form iframe {
    width: 100%;
  }
  .offer .contact-form form {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .wrapper {
    max-width: 90%;
  }
  .nav {
    display: none;
  }
  .burger__btn {
    display: flex;
  }
  .offer__cards {
    display: flex;
    flex-direction: column;
  }
  .about-us__card {
    flex-direction: column;
  }
  .about-us__card__image-box,
  .about-us__card__info {
    width: 100%;
    margin-left: 0;
  }
  .about-us__card__info h3 {
    text-align: center;
    margin-top: 2rem;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
  }
  .footer__info,
  .footer__info--column {
    align-items: center;
    justify-content: center;
  }
  .footer__logo {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .offer .contact-form {
    flex-direction: column;
  }
  .offer .contact-form iframe {
    width: 100%;
  }
  .offer .contact-form form {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .footer__info--column--heading {
    text-align: center;
  }
  .nav {
    display: none;
  }
  .burger__btn {
    display: flex;
  }
}
@media (min-width: 1240px) {
  .wrapper {
    max-width: 1200px;
  }
  .offer__cards {
    display: flex;
    flex-direction: row;
  }
  .about-us__card {
    flex-direction: row;
  }
  .footer__info {
    flex-direction: row;
  }
  .about-us__card__image-box,
  .about-us__card__info {
    width: 50%;
    margin-left: 5%;
  }
  .about-us__card__info h3 {
    text-align: left;
    margin-top: 0;
  }
  .footer .wrapper {
    flex-direction: row;
  }
  .footer__info {
    flex-direction: row;
  }
  .about-us__card__info h3 {
    text-align: center;
    margin-top: 0;
  }
  .footer .wrapper {
    flex-direction: row;
    align-items: center;
  }
  .footer__info {
    justify-content: space-between;
    align-items: start;
  }
  .footer__info--column {
    display: flex;
    flex-direction: column;
  }
  .footer__logo {
    width: 48%;
    justify-content: start;
    align-items: start;
  }
  .nav {
    display: flex;
  }
  .burger__btn {
    display: none;
  }
  .offer .contact-form {
    flex-direction: row;
  }
  .offer .contact-form iframe {
    width: 50%;
  }
  .offer .contact-form form {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */