$main-color: #0C0C0D;
$secondary-color: #164dcc;
// $pure-white: #fff;
// $light-white: #eee;
// $dark: #2e2e2e;
$green-color: #d1fd08;
// $green-color-hover: #0fe29c;
$lightest-gray:#FAF7F2;
$light-gray:#92949F;
$orange:#F98F1C;